:root {
	--red: #FF4800;
	--pink: #F1A497;
	--blue: #CCDDDD;
	--white: #f2e5d7;
	--black: #000;                
}

/* 
* RESET
***************************************************/

* {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }

/* 
* LAYOUT
***************************************************/

body {
	min-height: 100vh;
	font-size: 15px;
  }
  
  .container {
	max-width: 980px;
	padding: 3% 5%;
	margin: 0 auto;
	font-size: 1.3em;
	line-height: 1.6;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	line-height: 1.6;
	color: #96C4A3;
  }
  
  h1 {
	font-size: 4em;
  }
  
  h2 {
	font-family: serif;
	font-size: 2.7em;
  }
  
  
  /* 
  * HEADER
  ***************************************************/
  
  header {
	width: 100%;
	/* position: fixed; */
	top: 0;
	left: 0;
	z-index: 10;
  }
  
  /* 
  * NAV
  ***************************************************/
  
  .nav-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
  }
  
  .nav-item {
	font-size: 1.3em;
	padding: 20px;
	/* color: #fff; */
  }
  
  .nav-link {
	color: #fff;
	text-decoration: none;
  }
  
  .nav-link:hover {
	color: #fff;
	padding-bottom: 16px;
	border-bottom: 4px solid #fff;
  }
  
  
  /* 
  * HERO
  ***************************************************/
  
  .hero {
	width: 100vw;
	height: 50vh;
	background-image: url('../images/indexphoto_b&w.svg');
	/* background-position: top center; */
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .logo {
	/* background-color: rgba(0, 0, 0, 0.7); */
	max-width: 600px;
	padding: 2%;
	position: absolute;
	top: 30%;
	left: 10%;
  }
  
  .logo p {
	font-size: 1.6em;
	color: #fff;
	letter-spacing: 5px;
  }

  /* 
  * Footer
  ***************************************************/
  
  footer {
	background-color: #000;
	width: 100vw;
	padding: 2% 5%;
	font-size: 1.2em;
	color: #fff;
	text-align: center;
  }
  




img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

p {
	font-family: 'Amiro', sans-serif;
	/* font-size: 1.5em; */
	line-height: 1.5em;
	/* text-align: justify; */
}

ul {
	background: var(--red);
	padding: 20px;
	list-style-type: none;
	/* list-style-type: none;
	font-size: 1.5em;
	padding: 30px; */
}

ul li {
	background: var(--pink);
	margin: 5px;
	padding: 5px;
}

.abt-li-title {
	color: var(--white);
}

.row {
	margin: 20px;
}

.column {
	float: left;
	width: 29%;
	height:250px;
	margin: 20px;
	padding: 10px;
	position: relative;
	border: var(--red);
}

.column a {
	position: absolute;
	bottom: 0;
	text-decoration: none;
	color: var(--red);
}

.column p {
	padding-top: 20px;
}

.column h5 {
	font-size: .85em;
}

.donate {
	background-color: var(--red);
	color: var(--white);
}

.index-text {
	text-align: center;
	font-size: 2em;
}

.row:after {
	content: "";
  	display: table;
  	clear: both;
}

.resourcerow {
	margin: 40px;
}

.resourcegroup {
	padding: 10px;
	border: 1px solid var(--red);
	background-color: #CCDDDD;
}

.resourcegroup h3 {
	font-size: 3em;
}

.resourcerow:after {
	content: "";
  	display: table;
  	clear: both;
}

.paypal {
	display: inline-block;
}

.form {
	text-align: center;
	margin: 2em;
	line-height: 2em;
}

.form h2 {
	text-align: center;
}


b {
	display: block;
	font-size: 1.5em;
	font-weight: 50px;
}


textarea:focus, input:focus {
	border: 2px solid #900;
}

.paypal_btn {
	display: inline-block;
	font-family: inherit;
	/* font-size: 1em; */
	/* font-weight: bold; */
	/* color: var(--white); */
	text-align: center;
	padding: 10px 14px;
	margin: 0;
	background: var(--red);
	border: 0;
	cursor: pointer;
	outline: none;
}

#bloglogo {
	margin: 2em auto;
	width: 30%;
}

.two-columns {
	/* display: flex; */
	/* justify-content: space-around; */
	/* flex-wrap: nowrap; */
	width: 100%;
	/* background-color: #CCDDDD; */
}

.two-columns h2 {
	margin: 0px;
}

.two-columns a {
	text-decoration: none;
	font-size: 2em;
}

.two-columns-media {
	display: flex;
	margin: 40px;
	background-color: var(--red);
}

.two-columns-media h2 {
	background-color: #CCDDDD;
	padding: 50px;
}

#twocolumns {
	background-color: #CCDDDD;
	width: 100%;
	padding: 10px;
	text-align: center;
}

#twocolumns p {
	width: 32em;
	text-align: center;
}

#workshopsweoffer {
	width: 100%;
	padding: 10px;
}

#workshopsweoffer h4 {
	text-align: center;
	
}
#workshopsweoffer p {
	padding: 10px 0 20px 0;
}

.media {
	padding: 10px;
}

.media h2 {
	text-decoration: underline;
}

#contact {
	text-align: right;
}

#two-columns .maxwidth {
	padding-top: 0;
	padding-bottom: 0;
}

.banner {
	background-color: var(--red);
}

.banner h2 {
	color: var(--white);
}

.ourteam {
	margin: 20px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
}

.ourteamleft {
	width: 25%;
}

.ourteamright {
	width: 36em;
}

.ourteamleft img {
	border: 4px solid #CCDDDD;
}

.meetourteam {
	padding: 10px;
}

.right {
	font-size: 2em;
	text-align: center;
	width: 75%;
	margin: 1em auto;
}

.BLM {
	display: block;
	background-color: #000;
	color: #CCDDDD;
	text-align: center;
	font-size: 1.5em;
}

.BLM a {
	color: #CCDDDD;
}

#verbatim {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 2em;
	margin: 8em;
	background-color: #f0f8ff;
}

.vleft a {
	text-decoration: none;
	color: #000;
	font-weight: 100;
}

#right, #left {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

#right a {
	width: 50%;
}

#left img {
	color: #000;
	padding-bottom: 10px;
	width: 50%;
}

.right img {
	width: 50%;
	background-color: var(--white);
}

.clearfix:after {
	visibility: hidden;
	display: block;font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


.bookaworkshop {
	font-size: 1.5em;
	text-align: center;
}

.bookaworkshop a {
	color: var(--white);
	text-decoration: none;
	background-color: var(--red);
	padding: 10px;
}

.video{
	position: relative;
	max-height: 450px;
	height: 56.25vw;
	width: 100%;
	margin: 1em auto;
	max-width: 800px;
	border: 10px solid #000;
}

.video iframe{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: block;
	width: 100%;
}

.title {
	text-align: center;
}

.title h3 {
	margin: 2em auto;
}

.title h4 {
	width: 32em;
	margin: 2em auto;
	line-height: 1.5em;
}

.title hr {
	margin-bottom: 40px;
}

.title p {
	width: 32em;
	line-height: 2em;
	text-align: center;
	padding: 20px;
	margin: 2em auto;
}

.fourcolumns {
	background-color: #CCDDDD;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.fourcolumns a {
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: 15%;
	height: 15%
}

li {
	position: relative;
	padding: bottom;
}

#workshops li {
	text-align: center;
	padding: 10px;
	border: 4px solid var(--red);
}

li p {
	font-size: .75em;
}

li h4 {
	line-height: 1.5em;
}

li a {
	bottom: 0;
	/* color: var(--red); */
	text-decoration: none;
	font-size: 1.25em;
}

#workshop p {
	font-size: 0.5em;
}


.resources {
	font-size: 1.5em;
}

.resources h5 {
	text-align: left;
}

.social {
	text-align: right;
	margin: 0 auto;
	background-color: var(--blue);
	padding: 10px;
}

.social a {
	display: inline-block;
	width: 35px;
	padding: 5px;
}

.footersocial {
	padding: 10px;
	background-color: var(--red);
}

.footerhead {
	margin-left: 2em;
	width: 25%;
	display: block;
}

.footerinner {
	display: flex;

}

.footernav {
	flex-wrap: wrap;
	order: 2;
	column-gap: 20px;
	column-count: 3;
	text-align: left;
	width: 70%;
	padding-left: 100px;
	padding-top: 10px;
}

.footernav a {
	color: var(--white);
	font-size: .75em;
}

.footerbottom small {
	font-size: .5em;
	padding: 20px;
}


@media only screen and (max-width: 1000px) {
	.two-columns {
		background-color: var(--white);
		flex-wrap: wrap;
		width: 100%;
		padding-top: 0px;
	}

	.fourcolumns a {
		flex: none;
	}

	.indexphoto {	
		margin: auto;
		width: 80%;
	}

	.right {
		margin: 2em auto;
		   width: 90%;
		   padding-bottom: 0px;
		   font-size: 1.5em;
		   margin: auto;
		   background-color: var(--white);
	}

	.right h2 {
		padding: 20px;
	}

	#right, #left {
		background-color: #CCDDDD;
		width: 100%;
		margin: auto;
		padding: 0px;
		display: block;
	}

	#right img {
		width: 50%;
	}

	.bookaworkshop {
		margin: 0.5em auto;
	}

	#left h4 {
		text-decoration: none;
	}

	.vright img {
		width: 25%;
	}

@media (max-width: 800px) {


  .fourcolumns {
	display: block;
	height: 25%;
	width: 25%;
	margin: auto;
	} 
}

@media only screen and (max-width: 800px) {
	.footerinner {
		display: block;
	}

	.footerhead {
		margin-left: none;
		margin: auto;
		display: block;
	}

	.footernav {
		margin: auto;
		column-count: 3;
		width: 100%;
	}

	.footerbottom {
		text-align: right;
		padding-top: 10px;
	}

	.footerbottom small {
		padding: 10px;
	}
}

@media only screen and (max-width: 621px) {
  .threecolumns li{
		width: 100%;
		display: block; 
	}
}

@media only screen and (max-width: 530px) {
	.footersocial {
		padding: 0px;
	}
}

@media only screen and (max-width: 480px) {
	


	.paypal_btn { 
		font-size: .75em;
	}

	.threecolumns li{
		width: 100%;
		display: block; 
	}

	.title p {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 24em;
	}

	.footerhead {
		margin-left: 1em;
	}

	.footerhead img {
		width: 150%;
		margin: auto;
	}

	.footernav li {
		display: none;
	}


	.footersocial p {
		display: block;
	}

	.ourteam {
		display: block;
	}

	.ourteamleft {
		width: 100%;
	}

	.ourteamright {
		width: 24em;
	}
	#left {
		font-size: 1.5em;
	}

	#left h5 {
		padding: 20px;
	}

	#workshopsweoffer h4 {
		margin: 2em auto;
		width: 24em;
	}
}

@media only screen and (max-width: 4000px) {
	#verbatim {
		display: block;
		margin: 2em;
	}
	.vleft {
		width: 100%;
	}

	.fourcolumns {
		display: none;
	}
}}}