@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
	max-width: 1200px;
	margin: 2em auto;
}

div {
    padding: 20px;
	color: black;
}

header {
    padding: 10px; 
    margin: 2em auto;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	color: purple;
}

h3 {
	font-family: 'Noto Serif', serif;
}

nav {
	font-family: 'Noto Serif', serif;
    padding: 20px;
    text-align: right;
}

a:hover {
	background-color: #aaaaaa;
	padding: 10px;
}

img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

p {
	font-family: 'Noto Serif', serif;
	font-size: 1em;
	line-height: 1.5em;
}

ul {
	list-style-type: none;
}

#donate {
	background-color: orange;
	text-transform: uppercase;
	font-style: normal;
	padding: 10px;
}

#two-columns {
	background-color: #E582A2;
	padding: 20px;
	margin: 2em auto;
}

#contact {
	text-align: right;
}

.left {
	padding: 20px;
	float: left;
	width: 50%;
}

.right {
	padding: 20px;
	float: left;
	width: 50%;
}

.clearfix:after {
	visibility: hidden;
	display: block;font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.logo {
	width: 50%;
	float: left;
}

.container {
	width: 30%;
	max-width: 1200px;
	margin: 0 auto;
	float: left;
}

.social {
	float: right;
	font-family: 'Noto Serif', serif;
	width: 50%;
}