<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css">
    <!-- Main JS -->
    <script defer src="../../scripts/index.js"></script>
    <title>Hello, world!</title>
  </head>
<body>
    
    <%- include ('../partials/navbar') %>
    
    
    <div class="container">
        <h1>Our Vision</h1>
        <p class="lead">
            In order to work towards a world that values bodily autonomy for all, YES! provides anti-oppressive and shame-free sexuality education through a social justice lens to people of all ages and across various forms of media so that we can all live more liberated and healthy lives. 
          </p>
        <h1>Our Mission</h1>
        <p class="lead">
            To provide intersectional, consent-based, shame-free sexuality education to all people using interactive workshops, social media, and other mediums.     	</p>
    </div>







<!-- 
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="isy.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">
            </div>
            <div class="col">
                Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="rebecca.jpg" class="img-thumbnail img-fluid" alt="rebecca-klein">
            </div>
            <div class="col">
                Rebecca graduated from Montclair State with a degree in English and Creative Writing. While attending university, she attended training at The Masakhane Center and worked with YES! to design and facilitate workshops. Her experience with kids of all ages, through tutoring and counseling, has allowed her to apply her creativity in engaging, age-appropriate ways. Rebecca continues to facilitate workshops, develop educational videos for the organization, plan their annual fundraiser, and host trivia events. Now residing in Philadelphia, she is excited to expand YES!’s reach and connect with as many young people as possible.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="natalie.jpg" class="img-thumbnail img-fluid" alt="natalie-smyth">
            </div>
            <div class="col">
                Natalie is certified in software engineering from General Assembly, and has a bachelor’s degree in political science from Montclair State University. She has extensive experience with blogging and social media, and has worked for a local elected official, writing both his newsletter and blog, and maintaining his databases. Natalie was a gymnast for 17 years and now teaches classes and coaches team at Diamond Gymnastics
            </div>
        </div>
    </div>
    
 -->














<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="isy.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">
            <h5 class="card-title">Isy Abraham-Raveson</h5>
            <h6 style="padding-left: 20px;">Director of Education</h6>
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="rebecca.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">
            <h5 class="card-title">Isy Abraham-Raveson</h5>
            <h6 style="padding-left: 20px;">Creative Director</h6>
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">Rebecca graduated from Montclair State with a degree in English and Creative Writing. While attending university, she attended training at The Masakhane Center and worked with YES! to design and facilitate workshops. Her experience with kids of all ages, through tutoring and counseling, has allowed her to apply her creativity in engaging, age-appropriate ways. Rebecca continues to facilitate workshops, develop educational videos for the organization, plan their annual fundraiser, and host trivia events. Now residing in Philadelphia, she is excited to expand YES!’s reach and connect with as many young people as possible.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="natalie.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">
            <h5 class="card-title">Natalie Smyth</h5>
            <h6 style="padding-left: 20px;">Director of Web Development</h6>
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">Natalie is certified in software engineering from General Assembly, and has a bachelor’s degree in political science from Montclair State University. She has extensive experience with blogging and social media, and has worked for a local elected official, writing both his newsletter and blog, and maintaining his databases. Natalie was a gymnast for 17 years and now teaches classes and coaches team at Diamond Gymnastics.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="ashley_edwards_square.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">
            <h5 class="card-title">Ashley Edwards</h5>
            <h6 style="padding-left: 20px;">President</h6>
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="Rachael_Jennings.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">
            <h5 class="card-title">Rachael Jennings</h5>
            <h6 style="padding-left: 20px;">Secretary</h6>
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="alison_tomasso.png" class="img-thumbnail img-fluid" alt="alison-tomasso">
            <h5 class="card-title">Alison Tomasso</h5>
            <h6 style="padding-left: 20px;">Treasurer</h6>
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="fundraising-coordinator.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">
            <h5 class="card-title">Eve Gutman</h5>
            <h6 style="padding-left: 20px;">Fundraising Coordinator</h6>
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>













<!-- 
<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="isy.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Director of Education: Isy Abraham-Raveson</h5>
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="isy.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="isy.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="isy.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="isy.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 1080;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="isy.jpg" class="img-thumbnail img-fluid" alt="isy-abraham-raveson">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>





 -->











<!-- <div class="container">
    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
    
    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
    
    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
    
    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
    
    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
</div>



    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


    <div class="card" style="width: 18rem;">
        <img src="isy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>












         <div class="container ">


        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card border-0 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"> <img src="isy.jpg" alt=""  width="10" class="card-img-top" alt="avatar">
                                <div class="card-body text-center ">
                                    <h5 class="card-title mb-0">Isy Abraham-Raveson (she/they)</h5>
                                    <div class="card-text text-black-50">Director of Education</div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p class="description text-black-50">Isy Abraham has a Master’s degree in sexuality education from Widener University and a Bachelor’s degree in Gender and Sexuality Studies from Williams College. She also received training as a a sexuality educator from the Masakhane Center in Newark, NJ where she taught sex ed to middle and high school students. She leads workshops on a variety of topics at colleges around the country and national conferences. One of her favorite workshops to present is on fatphobia and body liberation, which she has facilitated at a variety of locations, including the National Sex Ed Conference, Temple University, and Harvard University. Isy also facilitates trainings for parents on how to talk to their children about sexuality in such locations as the Trans Wellness Conference and the Children’s Hospital of Philadelphia (CHOP).  For Isy, sexuality education is social justice; she does this work because every child has the right to grow up with respect, bodily autonomy, high self-esteem, and accurate information.</p> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"> <img src="rebecca.jpg" class="card-img-top" alt="avatar">
                                <div class="card-body text-center ">
                                    <h5 class="card-title mb-0">Rebecca Klein(she/they)</h5>
                                    <div class="card-text text-black-50">Creative Director</div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p class="description text-black-50">Rebecca graduated from Montclair State with a degree in English and Creative Writing. While attending university, she attended training at The Masakhane Center and worked with YES! to design and facilitate workshops. Her experience with kids of all ages, through tutoring and counseling, has allowed her to apply her creativity in engaging, age-appropriate ways. Rebecca continues to facilitate workshops, develop educational videos for the organization, plan their annual fundraiser, and host trivia events. Now residing in Philadelphia, she is excited to expand YES!’s reach and connect with as many young people as possible.</p> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"> <img src="natalie.jpg" class="card-img-top" alt="avatar">
                                <div class="card-body text-center ">
                                    <h5 class="card-title mb-0">Natalie Smyth(she/her)</h5>
                                    <div class="card-text text-black-50">Director of Web Development</div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p class="description text-black-50">Natalie is certified in software engineering from General Assembly, and has a bachelor’s degree in political science from Montclair State University. She has extensive experience with blogging and social media, and has worked for a local elected official, writing both his newsletter and blog, and maintaining his databases. Natalie was a gymnast for 17 years and now teaches classes and coaches team at Diamond Gymnastics</p> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="w-100"></div>

        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card border-0 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"> <img src="Ashley_Edwards_square.jpg" class="card-img-top" alt="avatar">
                                <div class="card-body text-center ">
                                    <h5 class="card-title mb-0">Ashley Edwards (she/her)</h5>
                                    <div class="card-text text-black-50">President</div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p class="description text-black-50">With over 10 years of public health education experience, Ashley is knowledgeable in the areas of pregnancy prevention, HIV/STIs, and reproductive and sexual health. She is an alumna of North Carolina Central University’s (NCCU) Department of Public Health Education (DPHE) where she received her bachelor’s degree. During her enrollment at NCCU DPHE, Ashley was a Center for Disease and Control (CDC) scholarship recipient and obtained her certification in health education, CHES. She later attended Strayer University where she earned her first master’s degree in Public Administration. Currently, Ashley is pursuing her second master’s degree from Widener University, Center for Human Sexuality Studies. Ashley has worked primarily in collaboration with community-based organizations (CBOs), churches, and academic institutions. She currently serves as the President of the Board for YES!</p> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"> <img src="Rachael_Jennings.jpg" class="card-img-top" alt="avatar">
                                <div class="card-body text-center ">
                                    <h5 class="card-title mb-0">Rachael Jennings (she/her)</h5>
                                    <div class="card-text text-black-50">Secretary</div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p class="description text-black-50">Rachael is the Director of Equity, Justice, and Belonging and the English Chair at Dublin School in New Hampshire. She also co-teaches a high school Human Sexuality Studies course and a SEED (Seeking Educational Equity and Diversity) evening seminar for adults. Rachael graduated from Middlebury College, where she studied English and American Literature and Education, received her Masters in Literature from Middlebury College's Bread Loaf School of English—where she primarily studied intersections of gender socialization, racialization, and systems of oppression in British literature, and is currently a low residency student in Widener University's MEd. in Human Sexuality Studies program. Previously, she volunteered as a Sexual and Reproductive Rights Advocate trainer for Amnesty International, presented on gender identity and consent culture at the Independent School Gender Project, and co-founded and led The Haverford School's first gender studies class with its peer schools, Agnes Irwin and Shipley, in the Philadelphia area.
								</p> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"> <img src="alison_tomasso.png" class="card-img-top" alt="avatar">
                                <div class="card-body text-center ">
                                    <h5 class="card-title mb-0">Alison Tomasso(she/her)</h5>
                                    <div class="card-text text-black-50">Treasurer</div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p class="description text-black-50">Alison Tomasso graduated from Bryant University with a Bachelor’s in Business Administration, Management and Spanish, from Johnson and Wales University with a Masters of Business Administration, and has an anticipated graduation date of JANUARY 2020 from Widener University with a Master’s Degree in Human Sexuality with a focus on the creation and implementation of diversity and inclusion training in corporate settings. With a career-long history in consulting and strategic development, Alison has enjoyed blending both of her passions, business and diversity, into corporation-specific curriculums to develop foundations for or build upon existing training programs. During her time as the Commuter Liaison for Widener University’s Human Sexuality Education Student Organization, Alison developed a strong interest in organizational leadership that she looks forward to applying to YES!
								</p> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"> <img src="fundraising-coordinator.jpg" class="card-img-top" alt="avatar">
                                <div class="card-body text-center ">
                                    <h5 class="card-title mb-0">Eve Gutman(she/they)</h5>
                                    <div class="card-text text-black-50">Fundraising Coordinator</div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p class="description text-black-50">Eve graduated from Haverford College in 2015 with a degree in Anthropology. Soon after, full of excitement to share what they had learned about consent, sex-positivity, and intersectional feminism, Eve co-founded YES! They have extensive experience in education, and have worked with students from 5 months to over 50 years old. Eve has also worked in non-profit administration and grassroots and political campaigns. They are fluent in Spanish, and love to dance, cook, and send and receive letters</p> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 -->





    <%- include ('../partials/footer') %>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</body>
</html>
