@import url('https://fonts.googleapis.com/css?family=Arimo:700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
}

header {
	height: 100px;
}

h1 {
	font-size: 2em;
	font-family: 'Amiro', sans-serif;
	text-transform: uppercase;
	color: #000;
}

h2 {
	padding: 10px;
	font-family: 'Amiro', sans-serif;
	font-size: 1.75em;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	font-family: 'Amiro', sans-serif;
	margin: 2em auto;
	width: 32em;
}

h5 {
	padding: 10px;
	font-size: 1em;
	line-height: 2em;
}

nav {
	font-family: 'Amiro', sans-serif;
    text-align: right;
    padding-top: 30px;
}

nav a {
	color: black;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
}

nav a:hover {
	background-color: #aaaaaa;
}

img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

p {
	font-family: 'Amiro', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

ul {
	list-style-type: none;
	font-size: 1.5em;
}

footer {
	font-family: 'Arimo', sans-serif;
	font-size: 1.25em;
}

.paypal {
	display: inline-block;
}

.form {
	text-align: center;
	margin: 2em
	line-height: 2em;
}

.form h2 {
	text-align: center;
}


b {
	display: block;
	font-size: 1.5em;
	font-weight: 50px;
}

hr {
	border:none;
	height:3px;
	background-color: #3C3C3C;
	width:2em;
	margin:1em auto;
}

textarea:focus, input:focus {
	border: 2px solid #900;
}

.paypal_btn{
	display: inline-block;
	font-family: inherit;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding: 10px 14px;
	margin: 0;
	background: #ff3300;
	border: 0;
	cursor: pointer;
	outline: none;
}

.paypal_btn:hover{ 
	background: #e05c04;
}

.two-columns {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	width: 100%;
}

.two-columns-media {
	display: flex;
	margin: 40px;
	background-color: #fe4704;
}

.two-columns-media h2 {
	background-color: #d6f5f2;
	padding: 50px;
}

.twocolumns {
	background-color: #d6f5f2;
	width: 100%;
	padding: 10px;
}

.twocolumns p {
	width: 32em;
	text-align: center;
}

.media {
	padding: 10px;
}

#contact {
	text-align: right;
}

.maxwidth {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
}

.maxwidth.title {
	max-width: 640px;
}

#two-columns .maxwidth {
	padding-top: 0;
	padding-bottom: 0;
}

.banner {
	background-color: #ff3300;
}

.banner h2 {
	color: #FFF;
}

.ourteam {
	background-color: #d6f5f2;
	display: flex;
	justify-content: center;
}

.ourteamleft {
	padding: 20px;
	width: 20%;
}

.ourteamright {
	padding: 20px;
	justify-content: center;
	width: 24em;
	line-height: 1.5em;
}

.ourteamleft h4 {
	padding: 5px;
	text-align: center;
	font-size: 1.25em;
}

.meetourteam {
	padding: 10px;
}

.left p {
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: center;
	padding: 20px;
}

.right, .left {
	font-size: 2em;
	text-align: center;
	width: 75%;
	margin: auto;
}

#right, #left {
	background-color: #d6f5f2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	text-align: center;
	width: 50%;
	flex-direction: column;
}

#right a{
	color: #000;
}

#right img {
	width: 50%;
}

#left a {
	color: #000;
	padding-bottom: 10px;
}

#left a:hover {
	background-color: #aaaaa0;
}

.left h2, .right h2 {
	font-size: .75em;
	color: #000;
	font-weight: 100;
}

.right img {
	width: 50%;
	background-color: #fff;
}

.clearfix:after {
	visibility: hidden;
	display: block;font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.logo {
	float: left;
	width: 15%;
	padding: 10px;
}

.logo a {
	text-decoration: none;
	background-color: #fff;

}

.bookaworkshop {
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
	margin: 1em auto;
	text-align: center;
	padding: 10px;
	width: 10em;
}

.bookaworkshop a {
	color: #fe4704;
}

.bookaworkshop:hover {
	font-size: 1.25em;
}

.video{
	position: relative;
	max-height: 450px;
	height: 56.25vw;
	width: 100%;
	margin: 2em auto;
	max-width: 800px;
}

.video iframe{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: block;
	width: 100%;
}

.title {
	font-family: 'Arimo', sans-serif;
	text-align: center;
}

.title h4 {
	width: 32em;
	margin: 2em auto;
	line-height: 1.5em;
}

.title hr {
	margin-bottom: 40px;
}

.title p {
	width: 32em;
	line-height: 2em;
	text-align: center;
	padding: 20px;
	margin: auto;
}

#about {
	font-family: 'Arimo', sans-serif;
	font-size: 2.5em;
	margin: .5em auto;
	text-align: center;
	text-transform: uppercase;
	font-style: bold;
	line-height: 1.5em;
	background-color: #E582A2;
	width: 50%;
	float: right;
}

.threecolumns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.threecolumns > * {
	width: 100%;
	margin: 2em auto;
	margin-bottom: 1.5%;
	min-height: 200px;
}

.fourcolumns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.fourcolumns a {
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: 15%;
	height: 15%
}

#workshops li {
	background-color: #;
	text-align: center;
	padding: 10px;
}

li p {
	font-size: .75em;
}

li h4 {
	line-height: 1.5em;
}



#workshop p {
	font-size: 0.5em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: left;
	text-align: left;
	width: 30%;
	/*height: 150px;*/
}

.container a { 
	font-size: .75em;
	color: #000;
	display: block;
	padding-bottom: 10px;
}

.threecolumns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.resources {
	font-size: 1.5em;
}

.resources h5 {
	text-align: left;
}

.social {
	float: right;
}

.social a {
	display: inline-block;
	width: 30px;
	height: 20px;
	padding: 5px;
}

.social a:last-child {
	margin-right: 100px;
}

.footer {
	text-decoration: none;
	padding: 2em 0;
	color: #fff;
	background-color: #4a4a4a;
	text-align: left;
}

.footersocial {
	padding: 10px;
	background-color: #ff3300;
}

.footersocial p {
	display: inline;
	color: #FFF;
}

.footerhead {
	margin-left: 2em;
	width: 25%;
	display: block;
}

.footerinner {
	display: flex;
	width: 70%
	padding-left: 30%;

}

.footernav {
	flex-wrap: wrap;
	order: 2;
	column-gap: 20px;
	column-count: 3;
	text-align: left;
	width: 70%;
	padding-left: 100px;
	padding-top: 10px;
}

.footernav a{
	color: #fff;
	font-size: .5em;
}

.footerbottom small {
	font-size: .5em;
	margin-left: 3em;
	padding-top: 2em;
}

@media only screen and (max-width: 1100px) {
	.footernav {
		column-count: 2;
	}

	.right {
		font-size: 1.5em;
	}

@media only screen and (max-width: 1000px) {
  nav {
		float: right;
		width: auto;
		display: inline-block;
	}

	.two-columns {
		background-color: #FFF;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		width: 100%;
		padding-top: 0px;
	}

    .left {	
    	margin: auto;
   		width: 80%;
    }

    .right {
   		width: 80%;
   		padding-bottom: 0px;
   		font-size: 1.5em;
   		margin: auto;
   		background-color: #fff;
    }

    .right h2 {
    	padding-top: 20px;
    	width: 50%;
    }

    #right, #left {
    	background-color: #d6f5f2;
    	width: 100%;
    	margin: auto;
    	padding: 0px;
    }

    .bookaworkshop {
    	margin: 0.5em auto;
    }

    #right a {
    	width: 50%;
    }

    #left h4 {
    	text-decoration: none;
    }

@media (max-width: 800px) {
  nav {
    float: none;
  }

  nav a {
    margin: 0 1.6em .75em 0;
  }

  .fourcolumns {
	display: block;
	height: 25%;
	width: 25%;
	margin: auto;
	} 
}

@media only screen and (max-width: 621px) {
  .threecolumns li{
		width: 100%;
		display: block; 
	}
}

@media only screen and (max-width: 480px) {
	
	.logo {
		width: 50%;
		margin: auto;

	nav {
		float: none;
		width: auto;
		display: inline-block;
	}

	.threecolumns li{
		width: 100%;
		display: block; 
	}
	
	.container {
		display: block;
		width: 100%;
		padding-top: 6%;
	}

	.title p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.footerhead {
		margin-left: 1em;
	}

	.footerhead img {
		width: 200%;
		margin: auto;
	}

	.footernav li {
		display: none;
	}


.footersocial p {
	text-align: center;
	}
