@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 32px;
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	color: purple;
}

h2 {
	font-family: 'Noto Serif', serif;
	font-size: 28px;
}

h3 {
	font-size: 24px;
	font-family: 'Noto Serif', serif;
}

nav {
	width: 90%
	font-family: 'Noto Serif', serif;
    text-align: right;
}

nav a {
	color: black;
	display: inline-block;
	padding: 10px;
}

a:hover {
	background-color: #aaaaaa;
}

img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

p {
	font-family: 'Noto Serif', serif;
	font-size: 1em;
	line-height: 1.5em;
}

ul {
	list-style-type: none;
	font-size: 1.5em;
}

footer {
	font-family: 'noto serif', serif;
	font-size: 1.25em;
}

form {
	display: inline-block;
}

.paypal_btn{
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding: 10px 14px;
	margin: 0;
	background: #f48325;
	border: 0;
	cursor: pointer;
	outline: none;
}

.paypal_btn:hover{ 
	background: #e05c04;
}

.two-columns {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	background-color: #E582A2;
	width: 90%;
}

#contact {
	text-align: right;
}

.maxwidth {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
}

.ourstory {
	width: 30em;
	margin: 0 auto;
	padding: 20px;
}

#two-columns .maxwidth {
	padding-top: 0;
	padding-bottom: 0;
}

.left {
	width: 50%;
}

.left p {
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: center;
	padding: 20px;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	text-align: center;
	background-color: #E582A2;
	padding: 20px;
	width: 50%;
}

.right h2 {
	font-size: 1.25em;
}

.clearfix:after {
	visibility: hidden;
	display: block;font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.logo {
	width: 50%;
	float: left;
}

.logo a {
	text-decoration: none;
	background-color: #fff;
}

#bookaworkshop {
	font-family: 'Varela Round', sans-serif;
	margin: 2em auto;
	text-align: center;
	background-color: #ccccd4;
	text-transform: uppercase;
	font-style: bold;
	padding-top: 20px;
	padding: 10px;
	width: 20em;
}

#bookaworkshop a{
	font-size: 1.5em;
	color: #000
}

.title {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
}

.title p {
	width: 30em;
	margin: 2em auto;
}

#about {
	font-family: 'Varela Round', sans-serif;
	font-size: 2.5em;
	margin: .5em auto;
	text-align: center;
	text-transform: uppercase;
	font-style: bold;
	line-height: 1.5em;
	background-color: #E582A2;
	width: 50%;
	float: right;
}

.threecolumns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.threecolumns > * {
	width: 32%;
	margin-bottom: 1.5%;
	min-height: 200px;
}

#workshops li {
	background-color: #E582A2;
	text-align: center;
	padding-top: 10px;
}

#workshop p {
	font-size: 0.5em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-left: 4px solid #fff;
	border-right: 4px solid #fff;
	text-align: center;
	width: 33.33%;
	background-color: #ccccd4;
	/*height: 150px;*/
}

.container a { 
	color: #000;
	display: block;
	padding: 10px;
}

.social {
	float: right;
}

.social a {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 5px;
}

.social a:last-child {
	margin-right: 0;
}

@media only screen and (width: 417px) {
	header {
		float: none;
	}
}