:root {
	--red: #FF4800;
	--pink: #F1A497;
	--blue: #CCDDDD;
	--white: #f2e5d7;
	--black: #000;                
}

/* RESET */

* {
	box-sizing: border-box;
}

/* LAYOUT */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.6;
}

h1 {
	/* font-size: 2em; */
	text-transform: uppercase;
	color: var(--black);
}

footer {
	font-size: 1.25em;
}



h2 {
	padding: 10px;
	/* font-size: 1.75em; */
	text-align: center;
}

h5 {
	font-size: 1em;
	line-height: 2em;
	padding-left: 1;
}

h6 {
	font-size: .75em;
	line-height: 2em;
}

img {
	/* width: 100%; */
	display: block;
	margin: 0 auto;
}

li {
	display: inline;
}

nav {
	display: inline;
	position: relative;
	bottom: 344px;
}

nav a {
	color: var(--black);
	/* display: inline-block; */
	padding: 10px;
	text-decoration: none;
	/* font-size: .85em; */
}

ul {
	/* background: var(--red); */
	padding: 20px;
	list-style-type: none;
}

footer ul li {
	background: var(--pink);
	margin: 5px;
	padding: 5px;
}

.abt-li-title {
	color: var(--white);
}

.row {
	margin: 20px;
}

.column {
	float: left;
	width: 29%;
	height:250px;
	margin: 20px;
	padding: 10px;
	position: relative;
	border: var(--red);
}

.column a {
	position: absolute;
	bottom: 0;
	text-decoration: none;
	color: var(--red);
}

.column p {
	padding-top: 20px;
}

.column h5 {
	font-size: .85em;
}

.donate {
	background-color: var(--red);
	color: var(--white);
}

.hero-content {
	padding-top: 364px;
	text-align: center;
	color: white;
}

.hero-image {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url(indexphoto_b&w.svg);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.index-text {
	text-align: center;
	width: 36em;
	margin: 0 auto;
}

.maxwidth {
	display: flex;
	justify-content: space-between;
	/* background-color: #fff; */
}

/* NAV */

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}

.nav-item {
	font-size: 1.3em;
	padding: 20px;
	color: var(--white);
}

.nav-link {
	color: var(--white);
	text-decoration: none;
}

.nav-link:hover {
	color: var(--white);
	padding-bottom: 16px;
	border-bottom: 4px solid var(--white);
}

.row:after {
	content: "";
  	display: table;
  	clear: both;
}

.resourcerow {
	margin: 40px;
}

.resourcegroup {
	padding: 10px;
	border: 1px solid var(--red);
	background-color: #CCDDDD;
}

.resourcegroup h3 {
	font-size: 3em;
}

.resourcerow:after {
	content: "";
  	display: table;
  	clear: both;
}

.paypal {
	display: inline-block;
}

.form {
	text-align: center;
	margin: 2em;
	line-height: 2em;
}

.form h2 {
	text-align: center;
}


b {
	display: block;
	font-size: 1.5em;
	font-weight: 50px;
}


textarea:focus, input:focus {
	border: 2px solid #900;
}

.paypal_btn {
	display: inline-block;
	font-family: inherit;
	/* font-size: 1em; */
	/* font-weight: bold; */
	/* color: var(--white); */
	text-align: center;
	padding: 10px 14px;
	margin: 0;
	background: var(--red);
	border: 0;
	cursor: pointer;
	outline: none;
}

#bloglogo {
	margin: 2em auto;
	width: 30%;
}



.two-columns a {
	text-decoration: none;
	font-size: 2em;
}

.two-columns-media {
	display: flex;
	margin: 40px;
	background-color: var(--red);
}

.two-columns-media h2 {
	background-color: #CCDDDD;
	padding: 50px;
}

#twocolumns {
	background-color: #CCDDDD;
	width: 100%;
	padding: 10px;
	text-align: center;
}

#twocolumns p {
	width: 32em;
	text-align: center;
}

#workshopsweoffer {
	width: 100%;
	padding: 10px;
}

#workshopsweoffer h4 {
	text-align: center;
	
}
#workshopsweoffer p {
	padding: 10px 0 20px 0;
}

.media {
	padding: 10px;
}

.media h2 {
	text-decoration: underline;
}

#contact {
	text-align: right;
}

#two-columns {
	padding-top: 0;
	padding-bottom: 0;
}

.banner {
	background-color: var(--red);
}

.banner h2 {
	color: var(--white);
}

/* .ourteam {
	margin: 20px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
} */

.ourteamleft {
	width: 25%;
}

.ourteamright {
	width: 36em;
	/* line-height: 1.5em; */
}

.ourteamleft img {
	border: 4px solid #CCDDDD;
}

.meetourteam {
	padding: 10px;
}

.blm {
	/* Carbon by Atle Mo and Sebastien Grosjean */
	background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
	
	/* background-color: rgb(15, 15, 15); */
	color: #CCDDDD;
	text-align: center;
	margin: 0em;
	padding: 1em;
}

.blm a {
	color: #CCDDDD;
}

#verbatim {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 2em;
	margin: 8em;
	background-color: #f0f8ff;
}

.vleft a {
	text-decoration: none;
	color: #000;
	font-weight: 100;
}

#right, #left {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

#right a {
	width: 50%;
}

#left img {
	color: #000;
	padding-bottom: 10px;
	width: 50%;
}

.right img {
	width: 50%;
	background-color: var(--white);
}

.clearfix:after {
	visibility: hidden;
	display: block;font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.logo {
	width: 5%;
	/* padding: 10px; */
}

.bookaworkshop {
	font-size: 1.5em;
	text-align: center;
	margin-top: 20px;
}

.bookaworkshop a {
	color: var(--white);
	text-decoration: none;
	background-color: var(--red);
	padding: 10px;
}

.video{
	position: relative;
	max-height: 450px;
	height: 56.25vw;
	width: 100%;
	margin: 1em auto;
	max-width: 800px;
	border: 10px solid #000;
}

.video iframe{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: block;
	width: 100%;
}

.title {
	text-align: center;
}

.title h3 {
	margin: 2em auto;
}

.title h4 {
	width: 32em;
	margin: 2em auto;
	line-height: 1.5em;
}

.title hr {
	margin-bottom: 40px;
}

.title p {
	width: 32em;
	line-height: 2em;
	text-align: center;
	padding: 20px;
	margin: 2em auto;
}

.fourcolumns {
	background-color: #CCDDDD;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.fourcolumns a {
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: 15%;
	height: 15%
}

#workshops li {
	text-align: center;
	padding: 10px;
	border: 4px solid var(--red);
}

li a {
	bottom: 0;
	/* color: var(--red); */
	text-decoration: none;
	font-size: 1.25em;
}

#workshop p {
	font-size: 0.5em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: right;
	width: 30%;
}

.container a { 
	font-size: .75em;
	color: #000;
	display: block;
	padding-bottom: 10px;
}

.resources {
	font-size: 1.5em;
}

.resources h5 {
	text-align: left;
}



.navsmall {
	float: left;
	padding-top: 10px;
}

.navsmall a {
	background-color: var(--pink);
	text-decoration: none;
	display: inline;
	text-transform: uppercase;
	color: var(--white);
	font-weight: 700;
}

.footersocial {
	padding: 10px;
	background-color: var(--red);
}

.footerhead {
	margin-left: 2em;
	width: 25%;
	display: block;
}

.footerinner {
	display: flex;
}

.footernav {
	flex-wrap: wrap;
	order: 2;
	column-gap: 20px;
	column-count: 3;
	text-align: left;
	width: 70%;
	padding-left: 100px;
	padding-top: 10px;
}

.footernav a {
	color: var(--white);
	font-size: .75em;
}

.footerbottom small {
	font-size: .5em;
	padding: 20px;
}

@media only screen and (max-width: 1100px) {
	.footernav {
		column-count: 2;
	}

	.footerhead {
		width: 50%;
	}

	.right {
		font-size: 1.5em;
	}

	.navsmall {
		padding-left: 0px;
		font-size: .95em;
	}

@media only screen and (max-width: 1000px) {
  nav {
		float: right;
		width: auto;
	}

	.two-columns {
		background-color: var(--white);
		flex-wrap: wrap;
		width: 100%;
		padding-top: 0px;
	}

	.fourcolumns a {
		flex: none;
	}

	.right {
		margin: 2em auto;
		   width: 90%;
		   padding-bottom: 0px;
		   font-size: 1.5em;
		   margin: auto;
		   background-color: var(--white);
	}

	.right h2 {
		padding: 20px;
	}

	#right, #left {
		background-color: #CCDDDD;
		width: 100%;
		margin: auto;
		padding: 0px;
		display: block;
	}

	#right img {
		width: 50%;
	}

	.bookaworkshop {
		margin: 0.5em auto;
	}

	#left h4 {
		text-decoration: none;
	}

	.vright img {
		width: 25%;
	}

@media (max-width: 800px) {

  nav a {
	margin: 0 1.6em .75em 0;
  }

  .fourcolumns {
	display: block;
	height: 25%;
	width: 25%;
	margin: auto;
	} 
}

@media only screen and (max-width: 800px) {
	.footerinner {
		display: block;
	}

	.footerhead {
		margin-left: none;
		margin: auto;
		display: block;
	}

	.footernav {
		margin: auto;
		column-count: 3;
		width: 100%;
	}

	.footerbottom {
		text-align: right;
		padding-top: 10px;
	}

	.footerbottom small {
		padding: 10px;
	}
}
}

/*.threecolumns > * {
	width: 32%;
	margin: 2em auto;
	margin-bottom: 1.5%;
}*/

/*hr {
	border: none;
	height: 3px;
	background-color: #3C3C3C;
	width: 2em;
	margin: 1em auto;
}*/

@media only screen and (max-width: 621px) {
  .threecolumns li{
		width: 100%;
		display: block; 
	}
}

@media only screen and (max-width: 573px) {
	.logo {
		float: none;
	}
}

@media only screen and (max-width: 530px) {
	.footersocial {
		padding: 0px;
	}
}

@media only screen and (max-width: 508px) {
	nav {
		padding:10px;
	}
	nav a {
		font-size: .75em;
	}
	.paypal {
		float: right;
	}
}
@media only screen and (max-width: 480px) {
	
	.logo {
		width: 50%;
		margin: auto;
		padding: 0px;
	}

	nav {
		float: right;
		width: auto;
		display: table;
	}

	.paypal_btn { 
		font-size: .75em;
	}

	.threecolumns li{
		width: 100%;
		display: block; 
	}
	
	.container {
		display: block;
		width: 100%;
		padding-top: 6%;
	}

	.title p {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 24em;
	}

	.footerhead {
		margin-left: 1em;
	}

	.footerhead img {
		width: 150%;
		margin: auto;
	}

	.footernav li {
		display: none;
	}


	.footersocial p {
		display: block;
	}

	.ourteam {
		display: block;
	}

	.ourteamleft {
		width: 100%;
	}

	.ourteamright {
		width: 24em;
	}
	#left {
		font-size: 1.5em;
	}

	#left h5 {
		padding: 20px;
	}

	#workshopsweoffer h4 {
		margin: 2em auto;
		width: 24em;
	}
}

@media only screen and (max-width: 400px) {
	#verbatim {
		display: block;
		margin: 2em;
	}
	.vleft {
		width: 100%;
	}

	.fourcolumns {
		display: none;
	}
}}