@import url('https://fonts.googleapis.com/css?family=Cabin|Oswald');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

span {
	color: red;
}

aside {
	padding: 10px;
	text-align: center;
	display: block;
}

div {
	color: black;
}

header {
	padding: 10px 0;
}

body {
	font-family: 'Cabin', sans-serif;
}

img {
	width: 600px;
	display: block;
	margin: 0 auto;
}

h1 {
	font-family: 'Cabin', sans-serif;
	font-size: 32px;
	font-style: italic;
	text-transform: uppercase;
	color: purple;
	line-height: 1;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 2;
}

nav {
	text-align: right;
	font-style: normal;
}

p {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

ul {
	list-style-type: none;
}

#donate {
	color: orange;
	text-transform: uppercase;
	font-style: normal;
}

.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.black {
	color: black;
}

#header {
	border-bottom: 1px solid #000;
}