h1 {
	font-style: italic;
	text-align: center;
	text-transform: uppercase;
	color: purple;
}

p {
	font-weight: bold;
}

ul {
	text-align: center;
	list-style-type: none;
}

body {
	background: url("images/colored_pencil_copy.jpg");
	text-align: center;
	font-family: Helvetica;
	background-size: cover;
}

hr {
	width: 1150px;
}
